/* ==========================================================================
   Variables
   ========================================================================== */

// Metrics
$typographic-styles-pxSize:       16 !default;
$typographic-styles-line-height:  1.618 !default;
$typographic-styles-size:         ($typographic-styles-line-height * 1rem) !default;
$typographic-styles-double-size:  $typographic-styles-size * 2 !default;
$typographic-styles-half-size:    $typographic-styles-size / 2 !default;
$typographic-styles-quarter-size: $typographic-styles-size / 4 !default;

$typographic-styles-thin-line-weight: 3px !default;

// Font families
$typographic-styles-font-family:           'Open Sans', 'Helvetica Neue', sans-serif !default;
$typographic-styles-font-family-monospace: 'Menlo', 'Monaco', monospace !default;

// Font size
$typographic-styles-font-scale-xxs:  85% !default;
$typographic-styles-font-scale-xs:   90% !default;
$typographic-styles-font-scale-sm:   95% !default;
$typographic-styles-font-scale-md:   100% !default;
$typographic-styles-font-scale-lg:   105% !default;
$typographic-styles-font-scale-xl:   110% !default;

$typographic-styles-font-size:       1rem !default;
$typographic-styles-font-size-h1:    (48/$typographic-styles-pxSize) * 1rem !default;
$typographic-styles-font-size-h2:    (36/$typographic-styles-pxSize) * 1rem !default;
$typographic-styles-font-size-h3:    (24/$typographic-styles-pxSize) * 1rem !default;
$typographic-styles-font-size-h4:    (21/$typographic-styles-pxSize) * 1rem !default;
$typographic-styles-font-size-h5:    (18/$typographic-styles-pxSize) * 1rem !default;
$typographic-styles-font-size-h6:    (16/$typographic-styles-pxSize) * 1rem !default;
$typographic-styles-font-size-small: (12/$typographic-styles-pxSize) * 1rem !default;

// Font weight
$typographic-styles-font-weight-light:  300 !default;
$typographic-styles-font-weight-normal: 400 !default;
$typographic-styles-font-weight-bold:   700 !default;

// Colours
$typographic-styles-light-grey: #eee !default;
$typographic-styles-grey:       #444 !default;
$typographic-styles-dark-grey:  #222 !default;

// Breakpoints
$typographic-styles-break-xs: 20em !default; // 320
$typographic-styles-break-sm: 30em !default; // 480
$typographic-styles-break-md: 40em !default; // 640
$typographic-styles-break-lg: 48em !default; // 768
$typographic-styles-break-xl: 64em !default; // 1024
