/* ==========================================================================
   Typographic Layout
   ========================================================================== */

@import "simple-typography-variables";


/**
 * box-sizing: border-box
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw
 * http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  max-width: $simple-typography-break-md;
  margin: auto;
  padding: 0 $simple-typography-half-size;
}
