
/**
 * Settings
 */

// Fonts
$_open-sans: 'Open Sans', sans-serif;

$font-size: 100%;
$line-height: 1.618;

$body-font-family: $_open-sans;
$heading-font-family: $_open-sans;


// Colours
$body-colour: #444;
$heading-colour: #222;


// Metrics
$size: $line-height + 0rem;



/**
 * Mixins
 */

/* Vertical Rhythm */
/* http://modularscale.com/scale/?px1=16&px2=14&ra1=1.618&ra2=0 */
@mixin vertical-rhythm($fs) {
  font-size: $fs + 0rem;
  line-height: ($line-height / $fs) * ceil($fs / $line-height);
  margin: $size 0;
}

/* Headings */
@mixin headings($fs) {
  @include vertical-rhythm($fs);
}



/**
 * Typography
 */

/* Base font settings */
html,
button,
input,
select,
textarea {
  font-family: $body-font-family;
  font-size: $font-size;
  line-height: $line-height;
  color: $body-colour;
}

/* Blocks */
p, ul, ol {
  margin: $size 0;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
  color: $heading-colour;
}

h1 { @include headings(3.706); }
h2 { @include headings(2.291); }
h3 { @include headings(1.618); }
h4 { @include headings(1.416); }
h5 { @include headings(1); }
h6 { @include headings(0.875); }



/**
 * Layout
 */

// [role="main"] { padding: 0 0.5em; }
// p, ul, ol, figure, blockquote { margin: 0 0 1.5em 0; }

// @media only screen and (min-width: 20em) {
//   [role="main"] { padding: 0 1.5em; }
// }

// @media only screen and (min-width: 34em) {
//   [role="main"] {
//     max-width: 32em;
//     margin: auto;
//     padding: 0;
//     // line-height: 1.5;
//   }
// }

// @media only screen and (min-width: 68.75em) {
//   html { font-size: 1.1em; }

//   [role="main"] {
//     max-width: 42em;
//     // line-height: 1.75;
//   }
// }
