
/**
 * Settings
 */

// Fonts
$_open-sans: 'Open Sans', sans-serif;

$font-size: 90%;
$line-height: 1.618;

$body-font-family: $_open-sans;
$heading-font-family: $_open-sans;


// Colours
$body-colour: #444;
$heading-colour: #222;


// Metrics
$size: $line-height + 0rem;
$half-size: $size / 2;
$double-size: $size * 2;



/**
 * Mixins
 */

/* Vertical Rhythm */
/* http://modularscale.com/scale/?px1=16&px2=14&ra1=1.618&ra2=0 */
@mixin vertical-rhythm($fs) {
  font-size: $fs + 0rem;
  line-height: ($line-height / $fs) * ceil($fs / $line-height);
  margin: $size 0;
}

/* Main Page Container */
@mixin main-container() {
  padding: 0 $half-size;
  margin: auto;

  @media only screen and (min-width: 30rem) {
    padding: 0 $size;
    max-width: 30rem + $double-size;
  }
}



/**
 * Typography
 */

/* Base font settings */
html {
  font-family: $body-font-family;
  font-size: $font-size;
  line-height: $line-height;
  color: $body-colour;
}

/* Blocks */
p, ul, ol, figure, blockquote {
  margin: $size 0;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
  color: $heading-colour;
}

h1 { @include vertical-rhythm(3.706); }
h2 { @include vertical-rhythm(2.291); }
h3 { @include vertical-rhythm(1.618); }
h4 { @include vertical-rhythm(1.416); }
h5 { @include vertical-rhythm(1); }
h6 { @include vertical-rhythm(0.875); }



/**
 * Layout
 */

/* http://www.paulirish.com/2012/box-sizing-border-box-ftw */
*, *:before, *:after {
  box-sizing: border-box;
}

[role="banner"],
[role="main"],
[role="contentinfo"]{
  @include main-container;
}

/* 320 */
@media only screen and (min-width: 20rem) {
  html {
    font-size: 100%;
  }
}

/* 480 */
@media only screen and (min-width: 30rem) {

}

/* 768 */
@media only screen and (min-width: 48rem) {

}

/* 1024 */
@media only screen and (min-width: 64rem) {
  html {
    font-size: 110%;
  }
}

/* 1200 */
@media only screen and (min-width: 75rem) {
  html {
    font-size: 125%;
  }
}
