/* ==========================================================================
   Settings
   ========================================================================== */

// Fonts
$typography-font-family-sans:    'Open Sans', sans-serif !default;
$typography-line-height:         1.618 !default;

$typography-font-size-original:  85%   !default;
$typography-font-size-xs:        90%   !default;
$typography-font-size-sm:        95%   !default;
$typography-font-size-md:        100%  !default;
$typography-font-size-lg:        110%  !default;
$typography-font-size-xl:        120%  !default;

$typography-font-size-h1:        3.706 !default;
$typography-font-size-h2:        2.291 !default;
$typography-font-size-h3:        1.618 !default;
$typography-font-size-h4:        1.416 !default;
$typography-font-size-h5:        1     !default;
$typography-font-size-h6:        0.875 !default;

$typography-body-font-family:    $typography-font-family-sans !default;
$typography-heading-font-family: $typography-font-family-sans !default;

// colors
$typography-body-color:    #444 !default;
$typography-heading-color: #222 !default;

// Metrics
$typography-size:        $typography-line-height + 0rem !default;
$typography-half-size:   $typography-size / 2 !default;
$typography-double-size: $typography-size * 2 !default;

$typography-document-min-width-xs: 20rem !default; // 320
$typography-document-min-width-sm: 30rem !default; // 480
$typography-document-min-width-md: 48rem !default; // 768
$typography-document-min-width-lg: 64rem !default; // 1024
$typography-document-min-width-xl: 75rem !default; // 1200

$typography-container-max-width:   $typography-document-min-width-sm !default;


/* ==========================================================================
   Mixins
   ========================================================================== */

/* Document (HTML Element) */
@mixin typography-document() {
  font-family: $typography-body-font-family;
  font-size: $typography-font-size-original;
  line-height: $typography-line-height;
  color: $typography-body-color;

  @media only screen and (min-width: $typography-document-min-width-xs) {
    font-size: $typography-font-size-xs;
  }

  @media only screen and (min-width: $typography-document-min-width-sm) {
    font-size: $typography-font-size-sm;
  }

  @media only screen and (min-width: $typography-document-min-width-md) {
    font-size: $typography-font-size-md;
  }

  @media only screen and (min-width: $typography-document-min-width-lg) {
    font-size: $typography-font-size-lg;
  }

  @media only screen and (min-width: $typography-document-min-width-xl) {
    font-size: $typography-font-size-xl;
  }
}

/* Main Page Container */
@mixin typography-main-container() {
  display: block;
  margin: auto;
  padding: 0 $typography-half-size;

  @media only screen and (min-width: $typography-container-max-width) {
    padding: 0 $typography-size;
    max-width: $typography-container-max-width + $typography-double-size;
  }
}

/* Vertical Rhythm */
/* http://modularscale.com/scale/?px1=16&px2=14&ra1=1.618&ra2=0 */
@mixin typography-vertical-rhythm($fs) {
  font-size: $fs + 0rem;
  line-height: ($typography-line-height / $fs) * ceil($fs / $typography-line-height);
  margin: ($typography-size + ($typography-size * 0.666)) 0 ($typography-size * 0.333);
}

/* Headings */
@mixin typography-headings-base() {
  font-family: $typography-heading-font-family;
  color: $typography-heading-color;
}

@mixin typography-h1() { @include typography-vertical-rhythm($typography-font-size-h1); }
@mixin typography-h2() { @include typography-vertical-rhythm($typography-font-size-h2); }
@mixin typography-h3() { @include typography-vertical-rhythm($typography-font-size-h3); }
@mixin typography-h4() { @include typography-vertical-rhythm($typography-font-size-h4); }
@mixin typography-h5() { @include typography-vertical-rhythm($typography-font-size-h5); }
@mixin typography-h6() { @include typography-vertical-rhythm($typography-font-size-h6); }

/* Block Elements */
@mixin typography-block-elements() {
  margin: 0 0 $typography-size;
}



/* ==========================================================================
   Defaults
   ========================================================================== */

/* Base font settings */
html {
  @include typography-document;
}

/* Blocks */
p, ul, ol, figure, blockquote {
  @include typography-block-elements;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  @include typography-headings-base;
}

h1 {
  @include typography-h1;
  margin: $typography-font-size-h1 + rem 0;
}
h2 { @include typography-h2; }
h3 { @include typography-h3; }
h4 { @include typography-h4; }
h5 { @include typography-h5; }
h6 { @include typography-h6; }
